<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ivyxjc.pubg.system.common.dao.PubgPlayerMatchMapper">
    <resultMap id="PubgPlayerMatchBaseMapper" type="xyz.ivyxjc.pubg.system.common.entity.PubgPlayerMatchDO">
        <result column="PLAYER_ID" jdbcType="VARCHAR" property="playerId"/>
        <result column="MATCH_ID" jdbcType="VARCHAR" property="matchId"/>
        <result column="SHARD_ID" jdbcType="CHAR" property="shardId"
                typeHandler="xyz.ivyxjc.pubg.system.common.utils.PlatformRegionHandler"/>
        <result column="DB_CREATED_AT" jdbcType="TIMESTAMP" property="dbCreatedAt"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="DB_CREATED_BY" jdbcType="TIMESTAMP" property="dbCreatedBy"/>
        <result column="DB_CREATED_FROM" jdbcType="TIMESTAMP" property="dbCreatedFrom"/>
        <result column="DB_UPDATED_AT" jdbcType="TIMESTAMP" property="dbUpdatedAt"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="DB_UPDATED_BY" jdbcType="TIMESTAMP" property="dbUpdatedBy"/>
        <result column="DB_UPDATED_FROM" jdbcType="TIMESTAMP" property="dbUpdatedFrom"/>
    </resultMap>

    <insert id="insertPubgPlayerMatchList" parameterType="java.util.List">
        insert into PUBG_PLAYER_MATCH
        (PLAYER_ID,MATCH_ID,SHARD_ID)
        values
        <foreach collection="list" item="pubgMatch" index="index" separator=",">
            (#{pubgMatch.playerId}, #{pubgMatch.matchId}, #{pubgMatch.shardId.pltRegion})
        </foreach>
    </insert>

</mapper>