<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ivyxjc.pubg.system.common.dao.PubgMatchDetailMapper">
    <resultMap id="PubgMatchDetailBaseMap" type="xyz.ivyxjc.pubg.system.common.entity.PubgMatchDetailDO">
        <result column="MATCH_ID" jdbcType="VARCHAR" property="matchId"/>
        <result column="PLAYER_ID" jdbcType="VARCHAR" property="playerId"/>
        <result column="SHARD_ID" jdbcType="CHAR" property="shardId"
                typeHandler="xyz.ivyxjc.pubg.system.common.utils.ShardIdHandler"/>
        <result column="DBNOS" jdbcType="INTEGER" property="dbnos"/>
        <result column="ASSISTS" jdbcType="INTEGER" property="assists"/>
        <result column="BOOSTS" jdbcType="INTEGER" property="boosts"/>
        <result column="DAMAGE_DEALT" jdbcType="DECIMAL" property="damageDealt"/>
        <result column="DEATH_TYPE" jdbcType="VARCHAR" property="deathType"/>
        <result column="HEADSHOT_KILLS" jdbcType="INTEGER" property="headshotKills"/>
        <result column="HEALS" jdbcType="INTEGER" property="heals"/>
        <result column="KILL_PLACE" jdbcType="INTEGER" property="killPlace"/>
        <result column="KILL_STREAKS" jdbcType="INTEGER" property="killStreaks"/>
        <result column="KILLS" jdbcType="INTEGER" property="kills"/>
        <result column="LONGEST_KILL" jdbcType="DECIMAL" property="longestKill"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="PLAYER_ID" jdbcType="VARCHAR" property="playerId"/>
        <result column="REVIVES" jdbcType="INTEGER" property="revives"/>
        <result column="RIDE_DISTANCE" jdbcType="DECIMAL" property="rideDistance"/>
        <result column="ROAD_KILLS" jdbcType="INTEGER" property="roadKills"/>
        <result column="SWIM_DISTANCE" jdbcType="DECIMAL" property="swimDistance"/>
        <result column="TEAM_KILLS" jdbcType="INTEGER" property="teamKills"/>
        <result column="TIME_SURVIVED" jdbcType="INTEGER" property="timeSurvived"/>
        <result column="VEHICLE_DESTROYS" jdbcType="INTEGER" property="vehicleDestroys"/>
        <result column="WALK_DISTANCE" jdbcType="DECIMAL" property="walkDistance"/>
        <result column="WEAPONS_ACQUIRED" jdbcType="INTEGER" property="weaponsAcquired"/>
        <result column="WIN_PLACE" jdbcType="INTEGER" property="winPlace"/>
        <result column="WIN_POINTS" jdbcType="INTEGER" property="winPoints"/>
        <result column="WIN_POINTS_DELTA" jdbcType="DECIMAL" property="winPointsDelta"/>
        <result column="DB_CREATED_AT" jdbcType="TIMESTAMP" property="dbCreatedAt"/>
        <result column="DB_CREATED_BY" jdbcType="TIMESTAMP" property="dbCreatedBy"/>
        <result column="DB_CREATED_FROM" jdbcType="TIMESTAMP" property="dbCreatedFrom"/>
        <result column="DB_UPDATED_AT" jdbcType="TIMESTAMP" property="dbUpdatedAt"/>
        <result column="DB_UPDATED_BY" jdbcType="TIMESTAMP" property="dbUpdatedBy"/>
        <result column="DB_UPDATED_FROM" jdbcType="TIMESTAMP" property="dbUpdatedFrom"/>
    </resultMap>


    <insert id="insertMatchDetails" parameterType="java.util.List">
        insert into PUBG_MATCH_DETAIL( MATCH_ID,PLAYER_ID,
        SHARD_ID, DBNOS, ASSISTS,
        BOOSTS, DAMAGE_DEALT, DEATH_TYPE,
        HEADSHOT_KILLS, HEALS, KILL_PLACE,
        KILL_STREAKS,
        KILLS,
        LONGEST_KILL, NAME,
        REVIVES, RIDE_DISTANCE,
        ROAD_KILLS, SWIM_DISTANCE, TEAM_KILLS, TIME_SURVIVED,
        VEHICLE_DESTROYS, WALK_DISTANCE, WEAPONS_ACQUIRED,
        WIN_PLACE, WIN_POINTS, WIN_POINTS_DELTA)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.matchId,jdbcType=VARCHAR},
            #{item.playerId,jdbcType=VARCHAR},
            #{item.shardId.pltRegion,jdbcType=VARCHAR},
            #{item.dbnos,jdbcType=INTEGER},
            #{item.assists,jdbcType=INTEGER},
            #{item.boosts,jdbcType=INTEGER},
            #{item.damageDealt,jdbcType=DECIMAL},
            #{item.deathType,jdbcType=VARCHAR},
            #{item.headshotKills,jdbcType=INTEGER},
            #{item.heals,jdbcType=INTEGER},
            #{item.killPlace,jdbcType=INTEGER},
            #{item.killStreaks,jdbcType=INTEGER},
            #{item.kills,jdbcType=INTEGER},
            #{item.longestKill,jdbcType=DECIMAL},
            #{item.name,jdbcType=VARCHAR},
            #{item.revives,jdbcType=INTEGER},
            #{item.rideDistance,jdbcType=DECIMAL},
            #{item.roadKills,jdbcType=INTEGER},
            #{item.swimDistance,jdbcType=DECIMAL},
            #{item.teamKills,jdbcType=INTEGER},
            #{item.timeSurvived,jdbcType=INTEGER},
            #{item.vehicleDestroys,jdbcType=INTEGER},
            #{item.walkDistance,jdbcType=DECIMAL},
            #{item.weaponsAcquired,jdbcType=INTEGER},
            #{item.winPlace,jdbcType=INTEGER},
            #{item.winPoints,jdbcType=INTEGER},
            #{item.winPointsDelta,jdbcType=DECIMAL}
            )
        </foreach>
    </insert>


    <insert id="insertMatchDetail" parameterType="xyz.ivyxjc.pubg.system.common.entity.PubgMatchDetailDO">
        insert into PUBG_MATCH_DETAIL(MATCH_ID, PLAYER_ID,
                                      SHARD_ID, DBNOS, ASSISTS,
                                      BOOSTS, DAMAGE_DEALT, DEATH_TYPE,
                                      HEADSHOT_KILLS, HEALS, KILL_PLACE,
                                      KILL_STREAKS,
                                      KILLS,
                                      LONGEST_KILL, NAME,
                                      REVIVES, RIDE_DISTANCE,
                                      ROAD_KILLS, SWIM_DISTANCE, TEAM_KILLS, TIME_SURVIVED,
                                      VEHICLE_DESTROYS, WALK_DISTANCE, WEAPONS_ACQUIRED,
                                      WIN_PLACE, WIN_POINTS, WIN_POINTS_DELTA)
        values (#{matchId,jdbcType=VARCHAR},
                #{playerId,jdbcType=VARCHAR},
                #{shardId.pltRegion,jdbcType=VARCHAR},
                #{dbnos,jdbcType=INTEGER},
                #{assists,jdbcType=INTEGER},
                #{boosts,jdbcType=INTEGER},
                #{damageDealt,jdbcType=DECIMAL},
                #{deathType,jdbcType=VARCHAR},
                #{headshotKills,jdbcType=INTEGER},
                #{heals,jdbcType=INTEGER},
                #{killPlace,jdbcType=INTEGER},
                #{killStreaks,jdbcType=INTEGER},
                #{kills,jdbcType=INTEGER},
                #{longestKill,jdbcType=DECIMAL},
                #{name,jdbcType=VARCHAR},
                #{revives,jdbcType=INTEGER},
                #{rideDistance,jdbcType=DECIMAL},
                #{roadKills,jdbcType=INTEGER},
                #{swimDistance,jdbcType=DECIMAL},
                #{teamKills,jdbcType=INTEGER},
                #{timeSurvived,jdbcType=INTEGER},
                #{vehicleDestroys,jdbcType=INTEGER},
                #{walkDistance,jdbcType=DECIMAL},
                #{weaponsAcquired,jdbcType=INTEGER},
                #{winPlace,jdbcType=INTEGER},
                #{winPoints,jdbcType=INTEGER},
                #{winPointsDelta,jdbcType=DECIMAL})
    </insert>

</mapper>